.sectionTitle {
  color: #5f04b4;
  font-size: 40px;
  font-family: "Lobster", cursive;
}

.titleHr {
  width: 97%;
  background-color: #4c0be0;
  background-image: linear-gradient(88deg, #4c0be0 0%, #ffbbec 100%);
  height: 6px;
  border-radius: 5px;
  margin-bottom: 40px;
}

.cursive-font {
  font-family: "Lobster", cursive;
}
